<h1> Attributes to Some Sources/Images We used (:</h1><br>
Icon from <a href="https://www.flaticon.com/free-icons/supermarket" title="supermarket icons">Supermarket icons created by Freepik - Flaticon</a>
<br>
<a href="https://iconscout.com/icons/walmart" class="text-underline font-size-sm" target="_blank">Walmart</a> by <a href="https://iconscout.com/contributors/icon-mafia" class="text-underline font-size-sm">Icon Mafia</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>
